ul.article-list
  each _post in page.posts.data
    li(class=_post.featured_image ? ['has-img', 'article-list-item'] : ['article-list-item'])
      div
        a.article-title(href=url_for(_post.path), title=`${_post.title||'无标题'}`) #{ _post.title|| '无标题' }
      .article-preview #{ _post.intro?_post.intro:truncate(strip_html(_post.content),{length: 100,omission:'...'}) }
      .article-time #{ time(_post.date, 'YYYY-MM-DD') }
      if _post.featured_image
        .img-wrapper(style=`background-image: url(${_post.featured_image})`)
