.copyright-wrapper
  p 原文作者:
    a(href=config.url) #{ config.author }
  p 原文链接:
    a(href=page.permalink) #{ page.title }
  p 发表日期: #{ time(page.date, 'YYYY-MM-DD HH:mm:ss') }
  p 更新日期: #{ time(page.updatedDate, 'YYYY-MM-DD HH:mm:ss') }
  p 版权声明: !{ theme.copyright.license }
